<% include partials/header %>
<head>
   <link  rel="stylesheet" href="/stylesheets/login.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
</head>
    <div class="row" style="display:flex; flex-wrap:wrap;" id="form">
        <div class="col-md-4 col-sm-12" id="box">
          <h2 id="loginLabel">Login</h2>
            <form class="ui large form" action="/login" method="POST">
              <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
              </div>
              <div class="field ">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
              </div>
              <button class="btn btn-primary  btn-lg btn-block">Submit</button>
            </form>
             <p id="textRegister">New user ? <a href="/register" > Criate a new Account!</a></p>
        </div>
    </div>

<% include partials/footer %>