<% include partials/header %>
<head>
    
    <script src="./../node_modules/jquery/dist/jquery.js"></script>
    <script src="./../node_modules/parsleyjs/dist/parsley.js"></script>
    <link  rel="stylesheet" href="/stylesheets/register.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
</head>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12" id="box">
            <h1 id="title">Register</h1>
            <form  class="ui form" action="/register" method="POST" id="form">
              <h4 class="ui dividing header" id="header">User Information</h4>
              <div class="field">
                <label for="firstName">Name</label>
                <div class="two fields">
                  <div class="field">
                    <input type="text" class="form-control" name="firstName" required placeholder="First Name">
                  </div>
                  <div class="field">
                    <input type="text" name="LastName" placeholder="Last Name" required>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Address</label>
                <div class="fields">
                  <div class="twelve wide field">
                    <input type="text" name="address" placeholder="Street Address">
                  </div>
                  <div class="four wide field">
                    <input type="text" name="address2" placeholder="Apt #">
                  </div>
                </div>
              </div>
              <div class="two fields">
              </div>
              <h4 class="ui dividing header">Credential</h4>
              <div class="field">
                <label>Username</label>
                <input type="text" name="userName" placeholder="Username">
              </div>
              <div class="two fields">
                <div class="field">
                    <label>Password</label>
                    <input id="password" type="password" name="password" placeholder="Password" minlength="6" >
                </div>
                <div class="field">
                    <label> Confirm Password</label>
                    <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password">
                </div>
                
              </div>
               <div class=" field">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name = "accept">
                    I accept the <a href="/"> Terms of Use</a> & <a href="/"> Privacy Policy </a>
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
            </form>
        </div>
        <div class="col-md-3 col-sm-12"></div>
    </div>
</div>

<script>
  $(document).ready(function() {
  
    $('#password').on('change input keyup', function() {
      if (this.value) {
        $('#confirmPassword').prop('required', true).parsley().validate();
      } else {
        $('#confirmPassword').prop('required', false).parsley().validate();
      }
    });
  });
$('#form').parsley();
   
    

</script>
<% include partials/footer %>