.desc{
	display: none;
}


.selected{
    border-left-width: 1.5px;
    border-left-style: solid;
    border-left-color: #4b8cf2;
}
.hr_home{
   border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.ads{
    color: black;
}

.title{
    text-align:  center ;
    color:#4b8cf2;
}

.price{
    color: #34d147 !important;
    margin-top: 10% !important;
}