<% include ../partials/header %>
<head>
    <link  rel="stylesheet" href="/stylesheets/adform.css">
     <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12"></div>
        <div class="col-md-6 col-sm-12" id="box">
           <h1 id="title">New ad</h1>
            <form class="ui form" action="/home/new" method="POST">
              <h4 class="ui dividing header" id="header">Ad Information</h4>
              <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="Ad title">
              </div>
             <div class="field">
                <label>Image</label>
                <input type="text" name="image" placeholder="Url Image">
              </div>
              <div class="field">
                <label>Price U$</label>
                <input class="form-control" type="number" name="price" placeholder="price" min="0.00" step="10.00">
              </div>
              <div class="field">
                <label>Description</label>
                <textarea class="form-control" name="description" rows="3"></textarea>
              </div>
              <button class="btn btn-primary btn-lg btn-block">Register</button>
            </form>
        </div>
        </div> 
        <div class="col-md-3 col-sm-12"></div>
    </div>
</div>
<% include ../partials/footer %>